default:
  image: docker:stable
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$TAG_BUILD .
    - docker push $CI_REGISTRY_IMAGE:$TAG_BUILD
  rules:
    - when: manual

test:
  stage: test
  script:
    - docker pull $CI_REGISTRY_IMAGE:$TAG_BUILD
    - docker run $CI_REGISTRY_IMAGE:$TAG_BUILD npm test

deploy:
  stage: deploy
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$TAG_BUILD .
    - docker push $CI_REGISTRY_IMAGE:$TAG_BUILD

