stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$TAG_BUILD .
  tags:
    - docker

test:
  stage: test
  script:
    - docker run $CI_REGISTRY_IMAGE:$TAG_BUILD npm run test

deploy:
  image: docker:stable
  stage: deploy
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$TAG_BUILD .
    - docker push $CI_REGISTRY_IMAGE:$TAG_BUILD
  only:
    - main
  rules:
    - when: manual
