stages:
  - build
  - test
  - deploy

build:
  image: docker:stable
  stage: build
  services:
  - docker:dind
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$TAG_BUILD .
  rules:
    - when: manual

test:
  image: docker:stable
  stage: test
  services:
  - docker:dind
  script:
    - docker run $CI_REGISTRY_IMAGE:$TAG_BUILD npm run test

deploy:
  image: docker:stable
  stage: deploy
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$TAG_BUILD .
    - docker push $CI_REGISTRY_IMAGE:$TAG_BUILD

